* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
    color: white;
}

.location,
.temperature {
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: flex-start;
justify-content: right;
    flex-direction: column;
}


.degree-section span {
    margin: 10px;
    font-size: 30px;
    font-weight: 700;
    align-items: end;
    color: #f4fdff;
    cursor: pointer;


}
.degree-section h2 {
    font-size: 25px;
}

